.paymon {
  position: absolute;
  left: 400px;
  bottom: -330px;
  width: 500px;
  height: 700px;
}

.avatar {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 50%;
}
