.paymon {
  position: absolute;
  left: 400px;
  bottom: -330px;
  width: 500px;
  height: 700px;
}

.avatar {
  position: absolute;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 50%;
}

.lumine {
  position: absolute;
  left: -300px;
  z-index: -3;
  opacity: 0.8;
}

.razor {
  position: absolute;
  bottom: -100px;
  left: -300px;
  z-index: -3;
  opacity: 0.8;
}

.amber {
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -3;
  opacity: 0.8;
}

.babara {
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -3;
  opacity: 0.8;
}

.childe {
  position: absolute;
  bottom: -100px;
  left: -150px;
  z-index: -3;
  opacity: 0.8;
}

.clee {
  position: absolute;
  bottom: -100px;
  left: -300px;
  z-index: -3;
  opacity: 0.8;
}

.fischl {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  left: -250px;
  z-index: -3;
  opacity: 0.8;
}

.hutao {
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -3;
  opacity: 0.8;
}

.jean {
  position: absolute;
  bottom: -100px;
  left: -300px;
  z-index: -3;
  opacity: 0.8;
}

.keqing {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  left: -250px;
  z-index: -3;
  opacity: 0.8;
}

.mona {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -3;
  opacity: 0.8;
}

.ningguang {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  left: -250px;
  z-index: -3;
  opacity: 0.8;
}

.sucrose {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  left: -250px;
  z-index: -3;
  opacity: 0.8;
}

.venti {
  position: absolute;
  bottom: -100px;
  right: -550px;
  z-index: -3;
  opacity: 0.8;
}

.xiao {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  left: -300px;
  z-index: -3;
  opacity: 0.8;
}
.xingqiu {
  width: 1100px;
  height: 700px;
  position: absolute;
  bottom: -100px;
  right: -200px;
  z-index: -3;
  opacity: 0.8;
}

.characterBox {
  margin-top: 280px;
  display: flex;
  flex-direction: column;
}

.characterMent {
  font-size: 25px;
  text-align: center;
  white-space: normal;
}

.characterName {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: gray;
}

.characterMBTI {
  padding: 0 10px;
  margin-top: 20px;
  font-size: 30px;
  white-space: normal;
}
