.finishBox {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.finishMent {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.finishBtn {
  all: unset;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.699);
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.finishBtn:hover {
  background-color: white;
}

.restartBtn {
  all: unset;
  height: auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ece2d286;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
}

.restartBtn:hover {
  background-color: #ece2d2;
}
