html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body * {
  touch-action: none;
}

footer {
  display: none;
}

.textbox {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0 4px 4px -4px black;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.432);
}

.logo {
  position: absolute;
  width: 250px;
  height: 120px;
}

.textbox__paymon-1 {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.textbox__paymon-2 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.textbox__paymon-3 {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.textbox__start-h1 {
  font-size: 20px;
}

.textbox__start-h2 {
  font-size: 12px;
}

.btn__start {
  all: unset;
  margin-top: 80px;
  text-align: center;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.699);
  cursor: pointer;
  box-shadow: 0 4px 4px -4px black;
}

.background_mond {
  display: none;
}

.paymon {
  position: fixed;
  left: -180px;
  bottom: -460px;
  transform: scale(0.7);
}

.mobilebg {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-image: url("../images/mobilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  z-index: -99;
}

.questionBox {
  position: absolute;
  top: -200px;
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 14px;
  margin-bottom: 40px;
}

.btn__question {
  all: unset;
  height: auto;
  width: auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.699);
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
}

.finishBox {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.finishMent {
  font-size: 20px;
  margin-bottom: 40px;
}

.finishBtn {
  z-index: 3;
}

.logo {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 100px;
  transform: scale(1);
  border-radius: 50%;
  border: 1px black solid;
}
