.btn__question {
  all: unset;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.699);
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn__question:hover {
  background-color: white;
}

.questionBox {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.question {
  font-size: 20px;
  margin-bottom: 40px;
}
