.textbox {
  margin: 30px auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0 4px 4px -4px black;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.432);
}

.textbox__start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbox__paymon-1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.textbox__paymon-2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.textbox__paymon-3 {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.textbox__start-h1 {
  font-size: 28px;
}

.textbox__start-h2 {
  font-size: 20px;
}

.btn__start {
  all: unset;
  margin: 80px auto 30px;
  text-align: center;
  width: 200px;
  height: 70px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.699);
  cursor: pointer;
  box-shadow: 0 4px 4px -4px black;
}

.btn__start:hover {
  background-color: white;
}
